<!DOCTYPE html>
	<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet"> 
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href = "index.css" rel = "stylesheet"> 
  <link href = "cardpopup.css" rel = "stylesheet">
  <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel = "stylesheet"> 
  <script src= "cardpopup.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js"></script>
  
    </head>


	<body>
        <div class="page-wrapper">
          <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
              <img src="igem iisertvm logo (1).png" alt="iGEM Logo" height="200">
              <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
              <ul class="nav no-search">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="dropbtn">Team
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="Team.html">Team</a>
                      <a href="Attribution.html">Attributions</a>
                      <a href="Collaboration.html">Collaborations</a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="dropbtn">Project
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="Project/comm.html">Communication</a>
                      <a href="Project/contribution.html">Contribution</a>
                      <a href="Project/description.html">Description</a>
                      <a href="Project/engineering.html">Engineering</a>
                      <a href="Project/experiment.html">Experiments</a>
                      <a href="Project/implementation.html">Implementation</a>
                      <a href="Project/notebook.html">Notebook</a>
                      <a href="Project/partnership.html">Partnership</a>
                      <a href="Project/proof.html">Proof of Concept</a>
                      <a href="Project/results.html">Results</a>
      
      
                    </div>
                  </div>
                </li>
                <li class="nav-item"><a href="Parts.html">
                    <div class="dropdown">
                      <button class="dropbtn">Parts
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
      
                        <a href="Parts/partcollection.html">Parts Collection</a>
                        <a href="Parts.html">Parts</a>
                        <a href="Parts/Improve.html">Improve</a>
                  </a></li>
                <li class="nav-item"><a href="Results.html">Safety</a></li>
                <li class="nav-item"><a href="iHP.html">
                  <div class="dropdown">
                    <button class="dropbtn">Human Practices
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
      
                      <a href="iHP.html">Human Practices</a>
                      <a href="iHP1.html">Human Practices Timeline</a>
                    </a></li>
                <li class="nav-item"><a href="Results.html"></a></li>
      
      
              </ul>
            </nav>
          </div>
            </div>
            <div class="cointainer my-4 mx-4">
              <div class="row">
            
                <div class="col-3">
                  <ul class="list-group fixed-content" id="sidenav">
                    <ul class="navbar-links">
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head1" style="color: black;">Heading - 1</a>
                      </li>
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head2" style="color: black;">Heading - 2</a>
                      </li>
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head3" style="color: black;">Heading - 3</a>
                      </li>
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head4" style="color: black;">Heading - 4</a>
                      </li>
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head5" style="color: black;">Heading - 5</a>
                      </li>
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head6" style="color: black;">Heading - 6</a>
                      </li>
                      <li class="navbar-dropdown list-group-item list-group-item-action">
                        <a href="#head7" style="color: black;">Heading - 7</a>
                      </li>
                    </ul>
                  </ul>
                </div>                
            
                <div data-bs-target="sidenav" data-bs-spy="scroll" class="col-9" style="padding-top: 20px">
                  <div class="container " data-bs-spy="scroll" data-bs-offset="-200px">
            
                    <!--intro-->
                    <hr class="line">
                    <h1 id="head1" style="color: #002147">Heading - 1</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                       <a id="head2"></a>
                    </p>
                    <br>
                    <hr class="line">
                    <h1 id="head2" style="color: #002147">Heading - 2</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                       <a id="head2"></a>
                    </p>
                    <br>
                    <hr class="line">
                    <h1 id="head3" style="color: #002147">Heading - 3</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                       <a id="head3"></a>
                    </p>
                    <br>

                    <hr class="line">
                    <h1 id="head4" style="color: #002147">Heading - 4</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                      <a id="head4"></a>
                    </p>
                    <br>

                    <hr class="line">
                    <h1 id="head5" style="color: #002147">Heading - 5</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                      <a id="head5"></a>
                    </p>
                    <br>

                    <hr class="line">
                    <h1 id="head6" style="color: #002147">Heading - 6</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                      <a id="head6"></a>
                    </p>
                    <br>


                    <hr class="line">
                    <h1 id="head7" style="color: #002147">Heading - 7</h1>
                    <hr class="line">
                    <br>
                    <p>
            
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In non risus sollicitudin, pharetra orci non, cursus justo.
                      Aenean pulvinar consequat est sit amet cursus. 
                      In fermentum massa sit amet cursus mattis. 
                      Integer eget tellus vitae nunc pulvinar sollicitudin. 
                      Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
                      Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
                      Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
                      Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
                      In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
                      Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
                      <a id="head4"></a>
                    </p>
                    <br>
            </div>
            </div>

            <div class="main-wrapper">
              <div id="vue">
                <cart :cart="cart" :cart-sub-total="cartSubTotal" :tax="tax" :cart-total="cartTotal" :checkout-bool="checkoutBool"></cart>
                <products :cart="cart" :cart-sub-total="cartSubTotal" :tax="tax" :cart-total="cartTotal" :products-data="productsData"></products>
              </div>
            </div>

          <footer id="svg-end" class="pt-5 pb-5 footer py-5 bg-dark text-white">
            <div class="container">
              <div class="row mb-4">
                <div class="col-lg-6 col-xs-12">
                  <h4 class="mb-3" style="padding-left: 50px;"><a href="https://2023.igem.wiki/iiser-tvm/">Oasys</a></h4>
                  <p style="color: aliceblue;">A depression diagnostics kit envisioned by iGEM IISER TVM 2023</p>
                </div>
                <div class="col-lg-3 col-xs-12">
                  <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                    <ul class="m-2 p-2">
                      <li><a href="https://biology.iisertvm.ac.in/">School of Biology, IISER TVM</a></li>
                      <li><a href="https://www.instagram.com/igem_iisertvm">Instagram</a></li>
                      <li><a href="https://twitter.com/igem_iisertvm">Twitter</a></li>
                      <li><a href="https://www.youtube.com/c/iGEMIISERTVM">YouTube</a></li>
                      <li><a href="https://2021.igem.org/Team:IISER_TVM">iGEM IISER TVM 2021</a></li>
                      <li><a href="https://2023.igem.wiki/iiser-tvm/">iGEM IISER TVM 2022</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                  <h4 class="mt-lg-0 mt-sm-4 mb-3 center">Contact</h4>
                  <p style="color: aliceblue";>IISER Thiruvananthapuram, Maruthamala PO, Vithura, Kerala, India - 695551</p>
                  <p class="mb-0"style="color: aliceblue">+91 0471 277 8009</p>
                  <p style="color: aliceblue">igem@iisertvm.ac.in</p>
                </div>
              </div>
              <hr>
              <!-- The following MUST be on every page: license information and link to the repository on gitlab.igem.org -->
              <div class="row mt-4">
                <div class="col">
                  <p class="mb-0"><small>© 2022 - Content on this site is licensed under a <a class="subfoot" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.</small></p>
                  <p><small>The repository used to create this website is available at <a href="https://gitlab.igem.org/2022/iiser-tvm">gitlab.igem.org/2022/iiser-tvm</a>.</small></p>
                </div>
              </div>
            </div>
          </footer>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous">
    
            </script>
            <script>
                $('.menu-toggle').click(function(){
                   $(".nav").toggleClass("mobile-nav");
                   $(this).toggleClass("is-active");
                });
                </script>
            <script>
              Vue.component('products', {
  
  ready: function () {
    var self = this;
    document.addEventListener("keydown", function(e) {
      if (self.showModal && e.keyCode == 37) {
        self.changeProductInModal("prev");
      } else if (self.showModal && e.keyCode == 39) {
        self.changeProductInModal("next");
      } else if (self.showModal && e.keyCode == 27) {
        self.hideModal();
      }
    });
  },

  template: "<h1>Products</h1>" + 
  "<div class='products'>" +
  "<div v-for='product in productsData' track-by='$index' class='product {{ product.product | lowercase }}'>" + 
  "<div class='image' @click='viewProduct(product)' v-bind:style='{ backgroundImage: \"url(\" + product.image + \")\" }' style='background-size: cover; background-position: center;'></div>" +
  "<div class='name'>{{ product.product }}</div>" +
  "<div class='description'>{{ product.description }}</div>" +
  "<div class='price'>{{ product.price | currency }}</div>" +
  "</div>" +
  "</div>" +
  "<div class='modalWrapper' v-show='showModal'>" +
  "<div class='prevProduct' @click='changeProductInModal(\"prev\")'><i class='fa fa-angle-left'></i></div>" +
  "<div class='nextProduct' @click='changeProductInModal(\"next\")'><i class='fa fa-angle-right'></i></div>" +
  "<div class='overlay' @click='hideModal()'></div>" + 
  "<div class='modal'>" + 
  "<i class='close fa fa-times' @click='hideModal()'></i>" + 
  "<div class='imageWrapper'><div class='image' v-bind:style='{ backgroundImage: \"url(\" + modalData.image + \")\" }' style='background-size: cover; background-position: center;'></div></div>" +
  "<div class='additionalImages' v-if='modalData.images'>" + 
  "<div v-for='image in modalData.images' class='additionalImage' v-bind:style='{ backgroundImage: \"url(\" + image.image + \")\" }' style='background-size: cover; background-position: center;' @click='changeImage(image.image)'></div>" +
  "</div>" +
  "<div class='name'>{{ modalData.product }}</div>" +
  "<div class='description'>{{ modalData.description }}</div>" +
  "<div class='details'>{{ modalData.details }}</div>" +
  "</div></div>",

  props: ['productsData'],

  data: function() {
    return {
      showModal: false,
      modalData: {},
      modalAmount: 1,
      timeout: "",
      mousestop: ""
    }
  },

  methods: {

    viewProduct: function(product) {      
      var self = this;
      //self.modalData = product;
      self.modalData = (JSON.parse(JSON.stringify(product)));
      self.showModal = true;
    },

    changeProductInModal: function(direction) {
      var self = this,
          productsLength = vue.productsData.length,
          currentProduct = self.modalData.sku,
          newProductId,
          newProduct;

      if(direction === "next") {
        newProductId = currentProduct + 1;

        if(currentProduct >= productsLength) {
          newProductId = 1;
        }

      } else if(direction === "prev") {
        newProductId = currentProduct - 1;

        if(newProductId === 0) {
          newProductId = productsLength;
        }
      }

      //console.log(direction, newProductId);

      for (var i = 0; i < productsLength; i++) {
        if (vue.productsData[i].sku === newProductId) {
          self.viewProduct(vue.productsData[i]);
        }
      }
    },

    hideModal: function() {
      //hide modal and empty modal data
      var self = this;
      self.modalData = {};
      self.showModal = false;
    },

    changeImage: function(image) {
      var self = this;
      self.modalData.image = image;
    },
  }
});


//---------
// Vue init
//---------
Vue.config.debug = false;
var vue = new Vue({
  el: "#vue",

  data: {
    productsData: [
      {
        sku: 1,
        product: "Monkey",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/red-monkey.jpg",
        images: [
          { image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/chimpanzee.jpg" },
          { image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/gorilla.jpg" },
          { image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/red-monkey.jpg" },
          { image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/mandrill-monkey.jpg" }
        ],
        description: "This is a monkey",
        details: "This is where some detailes on monkies would go. This monkey done seent some shit.",
      },

      {
        sku: 2,
        product: "Kitten",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/kittens.jpg",
        description: "This is a kitten",
        details: "This is where some detailes on kittens would go. Shout out kittens for being adorable.",
      },

      {
        sku: 3,
        product: "Shark",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/shark.jpg",
        description: "This is a shark",
        details: "This is where some detailes on sharks would go. Damn nature, you scary.",        
      },

      {
        sku: 4,
        product: "Puppy",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/dog.jpg",
        description: "This is a puppy",
        details: "This is where some detailes on puppies would go. Shout out puppies for being adorable.",
      },

      {
        sku: 5,
        product: "Apple",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/apple.jpg",
        description: "This is an apple",
        details: "This is where some detailes on apples would go. Shout out apples for being delicious.",
      },

      {
        sku: 6,
        product: "Orange",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/orange.jpg",
        description: "This is an orange",
        details: "This is where some detailes on oranges would go. Shout out oranges for being delicious.",
      },

      {
        sku: 7,
        product: "Peach",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/peach.jpg",
        description: "This is a peach",
        details: "This is where some detailes on peaches would go. Shout out peaches for being delicious.",
      },

      {
        sku: 8,
        product: "Mango",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/mango.png",
        description: "This is a mango",
        details: "This is where some detailes on mangos would go. Shout out mangos for being delicious.",
      },

      {
        sku: 9,
        product: "Cognac",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/cognac.jpg",
        description: "This is a glass of cognac",
        details: "This is where some detailes on cognac would go. I'm like hey whats up, hello.",
      },

      {
        sku: 10,
        product: "Chain",
        image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/chain.jpg",
        description: "This is a chain",
        details: "This is where some details on chains would go. 2Chainz but I got me a few on.",
      }
    ],    
  },
  });
            </script>    

</html>
